
body{
  font-size:20px;
  background-color: #345454;
}
.container{
  text-align: center;
  width: 800px;
  margin: 0 auto;
}
.timer{

}
.answers{

}
.start{
  font-size: 20px;
}
.choices:hover{
  background-color: #444444;
}
.choices{
  width: 300px;
  margin: 3px auto;
}
