
body{
  font-size:20px;
  font-family: 'VT323', monospace;
  font-family: 'Shadows Into Light', cursive;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: 600;
  background: url("../images/backgroundTwo.jpeg");
}
.container{
  text-align: center;
  width: 800px;
  min-height: 500px;
  margin: 0 auto;
  background: #696d7f;
}
h1{
  padding: 10px 0px 0px 0px;
  color: #4c0000;
}
.timer{

}
.question{
  margin-top: 15px;
}
.answers{
  margin-top: 20px;
}
.start , .restart{
  font-size: 20px;
}
.start:hover , .restart:hover{
  border: 2px solid black;
}
.choices:hover{
  background-color: #444444;
  border: 1px solid black;
}
.choices{
  width: 500px;
  line-height: 30px;
  margin: 3px auto;
}
.choices img{
  width: 300px;
  height: 200px;
  border: 1px solid #666666;
}

