
body{
  font-size:20px;
  font-weight: 600;
  background-color: #345454;
}
.container{
  text-align: center;
  width: 800px;
  margin: 0 auto;
}
.timer{

}
.question{
  margin-top: 15px;
}
.answers{
  margin-top: 20px;
  font-weight: 400;
}
.start , .restart{
  font-size: 20px;
}
.start:hover , .restart:hover{
  border: 2px solid black;
}
.choices:hover{
  background-color: #444444;
  border: 1px solid black;
}
.choices{
  width: 300px;
  line-height: 30px;
  margin: 3px auto;
}
